/* css for the app  */
html{
  height: 100%;
  background: linear-gradient(to bottom, #4C739B 0%, #B0D5A7 100%) fixed;
}

#root{
  background: linear-gradient(to bottom, #4C739B 0%, #B0D5A7 100%) fixed;
}

.desc{
  font-size: 1.5rem;
}

.center-main {
  font-size: 6rem;
  color: #fff;
  margin-bottom: 0;
}

.main-top{
  line-height: 1.5rem;
  width:100%;
  margin-top: 3%;
}

.top{
  padding:10px;
  overflow:hidden;
  line-height: 1.5rem;
  width:50%;
  min-height:4.5rem;
  
}

.parent{
  display:flex;
  flex-wrap:wrap;
}

.card-weekly{
  display:flex;
  text-align: center;
  flex-direction: column;
  border: 2px solid #2f4f4f;
  border-radius: 0.25rem;
}

.adj{
  margin-top: 5%;
  margin-bottom: 10%;
}

.bttn{
  border:1px solid #eb6864;
  padding: 10px 35px;
  width: 50%;
  margin: 0 auto;
  text-decoration: none;
  color: #eb6864
}

.bttn:hover{
  background: #eb6864;
  color:#fff;
  border: solid 1px transparent;
  text-decoration: none;
}
.daily{
  text-align: center;
  font-size:3.5rem;
  margin-top:10%;
}

.daily-top{
  width: 100px;
  font-size: 5rem;
  color: #fff;
  margin: 0 auto;
}

.return{
  margin-bottom:3%;
  text-align: center;
  font-size:3rem;
  text-decoration: none;
  color: #eb6864
}

.return:hover{
  color:#fff;
  text-decoration: none;
}

.mini-top{
  width: 100px;
  font-size: 5rem;
  color: #fff;
  margin: 0 auto;
}

.sum{
  font-size:1.5rem;
  margin-top: 6%;
}
.move{
  margin-right: 30%;
}

.card{
  background: transparent !important ;
  margin: 0 auto;
  width: 500px;
}

.card.card-weekly{
  width:300px;
}

.card-logic.card-header{
  box-shadow: no ne;
}
.card.card-weekly .card-header{
  box-shadow: none;
}

.card-weekly .card-footer{
  border-top: none;
}
.card .card-footer{
  border-top: none;
}
.card-weekly .card-footer-item:not(:last-child){
  border-right:none;
}
.card-magic{
  width:100% !important;
  border: solid 2px #2f4f4f;
  text-align: center;
  margin-top: 9%;
  /* background: transparent !important; */
}

.card-logic{
    /* width:100%; */
    border: solid 2px #2f4f4f;
    /* background: transparent; */
    text-align: center;
    /* display: flex; */
    /* flex-direction: column; */
    /* word-wrap: break-word; */
}

/* .day{
  margin-bottom:10%;
  text-align: left;
} */

@media only screen and (min-width: 320px){
  .card.card-logic{
    width: 98%;
  }
}
@media only screen and (max-width: 771px){
  .top{
    width:100%;
  }

  .day{
    text-align: center;
  }

}

@media only screen and (max-width: 772px) and (min-width: 991px){
  .top{
    width:50%;
  }


}

@media only screen and (min-width: 992px){
  .top{
    width: 25%;
  }
}